@model IEnumerable<swp_lab2.DAL.Models.Book>

@{
    ViewBag.Title = "Index";
}

<h2>Cart</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sages)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <ul style="padding:0; list-style-type: none;">
                    @foreach (var sage in item.Sages)
                    {
                        <li>
                            @Html.DisplayFor(modelItem => sage.Name)
                        </li>
                    }
                </ul>
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, null)
            </td>
        </tr>
    }

</table>

@if (Model.Count() > 0)
{
    @Html.ActionLink("Create", "Create", "Books", null, new { @class = "btn btn-primary btn-lg" })
}
else
{
    <p>Could no create empty order!</p>
}
