@model IEnumerable<swp_mbvc_test.Models.BookCartDTO>

@{
    ViewBag.Title = "Books";
}

<h2>Books</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sages)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>

            <td>
                <ul style="padding:0; list-style-type: none;">
                    @foreach (var sage in item.Sages)
                {
                        <li>
                            @Html.DisplayFor(modelItem => sage.Name)
                        </li>
                    }
                </ul>
            </td>
            <td>
                @Html.ActionLink("Add", "Add")
            </td>
        </tr>
    }
</table>

